.Card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
   
  height: 120px; // ou o valor que você definiu em alturaCartao
  width: 250px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  gap: 3%;
 

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }

  h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }

  p {
    margin: 8px 0 0;
    font-size: 0.9rem;
    color: #666;
  }
}

.cardImage {
  width: 40%;
  height: 30px;
  object-fit: cover;
  border-radius: 9px;

}

.BtnsCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
}

.AddCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}

.AddCard:hover {
  background-color: #eee;
}


.DeleteButton {
  background-color: #e74c3c; // vermelho de alerta
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #c0392b; // tom mais escuro no hover
  }

  &:active {
    background-color: #a93226; // tom ainda mais escuro no clique
  }

  svg {
    font-size: 10px;
  }
}

.cardDescription {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 6px;
  }


 .EditButton {
    background-color: #104715; // vermelho de alerta
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #186b1f; // tom mais escuro no hover
  }

  &:active {
    background-color: #a93226; // tom ainda mais escuro no clique
  }

  svg {
    font-size: 10px;
  }

 }