.Homebody {
  background-image: url('./../../assets/Facade_opera_Garnier.jpg');
  background-size: 1150px auto;
  background-color: rgba(0, 0, 0, 0.5); // cor escura sem opacidade total
  background-blend-mode: darken; // mistura a imagem com a cor
  
}

